body{
	background-color:  gray;
	color: black;
}
a{
	text-decoration: underline;
}

#stream{
	text-align: left;
	float: left;
	width: 450px;

}

.timestamp{
	text-align: right;
	font-size: 8px;
	color: white;
	
}